{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Add' %}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        
        {{ form.non_field_errors }}
        
        <label for="name">{% trans 'Name' %}</label>
        {{ form.name }}
        {{ form.name.errors }}
        
        <br>

        <label for="email">{% trans 'Email' %}</label>
        {{ form.email }}
        {{ form.email.errors }}

        <br>
        
        <a href="{% url 'contacts:index' %}">{% trans 'Back' %}</a>
        <button type="submit">{% trans 'Save' %}</button>
    </form>
{% endblock %}
