{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'List' %}{% endblock %}

{% block content %}
    {% for contact in object_list %}
        <p>{{ contact.name }} - {{ contact.email }}</p>
    {% empty %}
        {% trans 'No contacts!' %}
    {% endfor %}
    <a href="{% url 'contacts:index' %}">{% trans 'Back' %}</a>
{% endblock %}
