{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Options' %}{% endblock %}

{% block content %}
<p><a href="{% url 'contacts:list' %}">{% trans 'List' %}</a></p>
<p><a href="{% url 'contacts:add' %}">{% trans 'Add' %}</a></p>
{% endblock %}
